.icon-xs,
.icon-sm,
.icon-md,
.icon-lg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
    flex-grow: 0
}

.icon-xs img,
.icon-sm img,
.icon-md img,
.icon-lg img {
    max-width: 100%
}

.icon-xs {
    width: 36px;
    height: 36px
}

.icon-sm {
    width: 42px;
    height: 42px;
    font-size: 20px
}

.icon-md {
    width: 56px;
    height: 56px;
    font-size: 24px
}

.icon-lg {
    width: 72px;
    height: 72px;
    font-size: 32px
}

.round-img {
    border-radius: 50%;
}

.cat-slider-bg {
    background-color: light;
    padding: 10px 10px 15px;
}

.img-wrap-bg {
    // background-color: #c77806;
    padding: 6px 0px;
    color: $dark;
    font-size: 15px;
    min-height: 160px;
}

.img-xs,
.img-sm,
.img-md,
.img-lg {
    display: inline-block;
    -o-object-fit: cover;
    object-fit: cover;
    flex-shrink: 0;
    flex-grow: 0
}

.img-xs {
    width: 40px;
    height: 40px
}

.img-sm {
    width: 72px;
    height: 72px
}

.img-md {
    width: 96px;
    height: 96px
}

.img-lg {
    width: 128px;
    height: 128px
}

.img-xl {
    width: 196px;
    height: 196px
}

.obj-contain {
    -o-object-fit: contain;
    object-fit: contain
}

.obj-cover {
    -o-object-fit: cover;
    object-fit: cover
}

.center-xy {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%)
}

.center-y {
    top: 50%;
    position: absolute;
    transform: translateY(-50%)
}

.center-x {
    left: 50%;
    position: absolute;
    transform: translateX(-50%)
}
.btn {
    box-shadow: none;
}
.btn-primary{
    background-color: $primary;
    color: $light;
    border-color: $primary;
    &:hover, &:focus, &:active, &:focus:active{
        color: $light;
        box-shadow: none;
        background-color: $primary;
        border-color: $primary;
    }
}
.btn-secondary{
    background-color: $secondary;
    color: $light;
    border-color: $secondary;
    &:hover, &:focus, &:active, &:focus:active{
        color: $light;
        box-shadow: none;
        background-color: $secondary;
        border-color: $secondary;
    }
}
.btn-success{
    background-color: $success;
    color: $light;
    border-color: $success;
    &:hover, &:focus, &:active, &:focus:active{
        color: $light;
        box-shadow: none;
        background-color: $success;
        border-color: $success;
    }
}
.btn-dark{
    background-color: $dark;
    color: $light;
    border-color: $dark;
    &:hover, &:focus, &:active, &:focus:active{
        color: $light;
        box-shadow: none;
        background-color: $dark;
        border-color: $dark;
    }
}
.btn-info{
    background-color: $info;
    color: $light;
    border-color: $info;
    &:hover, &:focus, &:active, &:focus:active{
        color: $light;
        box-shadow: none;
        background-color: $info;
        border-color: $info;
    }
}
.btn-warning{
    background-color: $warning;
    color: $light;
    border-color: $warning;
    &:hover, &:focus, &:active, &:focus:active{
        color: $light;
        box-shadow: none;
        background-color: $warning;
        border-color: $warning;
    }
}
.btn-danger{
    background-color: $danger;
    color: $light;
    border-color: $danger;
    &:hover, &:focus, &:active, &:focus:active{
        color: $light;
        box-shadow: none;
        background-color: $danger;
        border-color: $danger;
    }
}
.btn-light{
    background-color: $light;
    color: $dark;
    border-color: $light;
    &:hover, &:focus, &:active, &:focus:active{
        color: $dark;
        box-shadow: none;
        background-color: $light;
        border-color: $light;
    }
}
