//Variable colors
  $primary:         #b66dff;
  $secondary:       #d8d8d8;
  $success:         #1bcfb4;
  $info:            #198ae3;
  $warning:         #fed713;
  $danger:          #fe7c96;
  $light:           #f8f9fa;
  $gray:           #9c9fa6;
  $dark:            #3b4655;

$theme-gradient-colors: (
  primary:         linear-gradient(to right, #da8cff, #9a55ff),
  secondary:       linear-gradient(to right, #e7ebf0, #868e96),
  success:         linear-gradient(to right, #84d9d2, #07cdae),
  info:            linear-gradient(to right, #90caf9, #047edf 99%),
  warning:         linear-gradient(to right, #f6e384, #ffd500),
  danger:          linear-gradient(to right, #ffbf96, #fe7096),
  light:           linear-gradient(to bottom, #f4f4f4, #e4e4e9),
  dark:            linear-gradient(89deg, #5e7188, #3e4b5b)
);

////////// COLOR VARIABLES //////////
$content-bg: #f2edf3;
$footer-bg: $content-bg;
$footer-color: color(dark);
$border-color: #ebedf2;

$default-font-size: 14px; // 14px as base font size

////////// SIDEBAR ////////
$sidebar-width-lg: 260px;
$sidebar-width-mini: 185px;
$sidebar-width-icon: 70px;

$sidebar-menu-color: #3e4b5b;
$sidebar-submenu-color: #888;
$sidebar-menu-active-bg: $white;
$sidebar-menu-active-color: theme-color(primary);
$sidebar-menu-hover-bg: darken($white, 1%);
$sidebar-menu-hover-color: darken($sidebar-menu-color, 10%);
$sidebar-submenu-hover-color: darken($sidebar-submenu-color, 20%);
$sidebar-menu-icon-color: #bba8bff5;
$sidebar-menu-arrow-color: $gray;
$sidebar-menu-border-color: #f2edf3;

///////// NAVBAR ////////
$navbar-height: 70px;
$navbar-bg: #fff;
$navbar-menu-color: $gray;
$navbar-font-size: .875rem;
$navbar-icon-font-size: 1.25rem;